/* HOMEPAGE CSS */

.home-page-container {
    text-align: center;
    margin-top: 200px;
  }
  
.home-page-container h1 {
    font-size: 24px;
  }
  
.home-page-container p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
.home-page-container button {
    padding: 10px 20px;
    font-size: 18px;
}